body{
    font-family: 'SamsungOne',arial,sans-serif;
}
#r{
    display: flex;
    align-items: center;
    justify-content: space-around;
   padding-top: 10px;
   background: #c9def1;
   text-align: center;
   padding-bottom: 10px;
   
}
.row div{
font-size: small;
}

.row div:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}
#pride{
    background: #c9def1;
margin: 20%;
border-radius: 3px;
font-size: 1.5rem;

}
.offers{
    font-size: -6px;
    font-weight: 700;
}